[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cloudUtil"]
	path = cloudUtil
	url = https://github.com/cran/cloudUtil
[submodule "protViz"]
	path = protViz
	url = https://github.com/cpanse/protviz
[submodule "rawDiag"]
	path = rawDiag
	url = https://github.com/cpanse/rawdiag
[submodule "recmap"]
	path = recmap
	url = https://github.com/cpanse/recmap
